<div>
    <div class="title-init">
        <h1>Project Boiler room</h1>
    </div>
    <img class="image-init" src="/images/boiler-room.jpeg" alt="video">
<<<<<<< HEAD

    <div class="container information">
        <div class="row">
            <div class="col-6">
                <h1>ABOUT US</h1>
                <a href="/about">Read more about us</a>
            </div>
            <div class="col-6">
                <h1>CONTACT</h1>
                <a href="/contact">Contact us</a>
            </div>
        </div>
    </div>
</div>
=======
</div>
>>>>>>> a6cac5013403cfb3415ecaff9330c9c9d866c7f1
