<div>
    <div class="title-init">
        <h1>Project Boiler room</h1>
    </div>
    <img class="image-init" src="/images/boiler-room.jpeg" alt="video">

    <footer>
        <div class="container">
            <div class="row information">
                <div class="col-6 d-flex justify-content-center">
                    <a class="btn btn-dark" href="/about">Read more about us</a>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <a class="btn btn-dark" href="/contact">Contact us</a>
                </div>
            </div>
        </div>
    </footer>
</div>