<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

   <nav class="navbar navbar-expand-lg navbar bg-dark">
      <div class="container-fluid">
         <a class="navbar-brand" href="/">Boiler Room</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
               <li class="nav-item">
                  <a class="nav-link" href="/event">Eventos</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/event/new">Nuevo Evento</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/login">Iniciar sesión</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/signup">Registrarme</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/myprofile/profileview">Mi perfil</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>


   {{{body}}}
   <footer>
      <div class="container information">
         <div class="row">
            <div class="col-6 boton">
               <a href="/about">Read more about us</a>
            </div>
            <div class="col-6 boton">
               <a href="/contact">Contact us</a>
            </div>
         </div>
      </div>
   </footer>

   <script src="/js/script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"></script>
</body>

</html>