body {
  /* background-color: #3B3A3A; */
  font: 14px "monospace", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

h1 {
  color: 15px;
}

.title-init {
  text-decoration: none;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  padding: 30px 30px;
  border-radius: 10px;
  animation: animacion 2s linear infinite;
}

@keyframes animacion {
  0% {
    box-shadow: 0 0 0 0 rgba(248, 249, 249, .3), 0 0 0 0 rgba(248, 249, 249, .1);
  }
  30% {
    box-shadow: 0 0 0 50px rgba(248, 249, 249, 0), 0 0 0 0 rgba(248, 249, 249, .1);
  }
  65% {
    box-shadow: 0 0 0 50px rgba(248, 249, 249, 0), 0 0 0 30px rgba(248, 249, 249, 0);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(248, 249, 249, 0), 0 0 0 30px rgba(248, 249, 249, 0);
  }
}

.image-init {
  width: 100vw;
  height: 100vh;
}

.image-carad {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#myMap {
  height: 400px;
  background-color: red;
}

footer {
  padding: 150px;
  margin-inline-start: 10%;
  margin-inline-end: 10% ;
  justify-content: center;
}

.list {
  margin: 100px;
}

#comment{
  visibility: hidden;
}

.editForm{
  visibility: hidden;
  
}

.visible{
  visibility: visible;
}
