body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.title-init {
  position: absolute;
  color: white;
  padding: 350px;
}

.image-init {
  width: 100vw;
  height: 100vh;
}
.information{
  padding: 150px;
}