body {
  /* background-color: #3B3A3A; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.title-init {
  position: absolute;
  color: white;
  padding: 350px;
}

.image-init {
  width: 100vw;
  height: 100vh;
}

.image-carad {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#myMap {
  height: 400px;
  background-color: red;
}

footer {
  padding: 150px;
  margin-inline-start: 10%;
  margin-inline-end: 10% ;
  justify-content: center;
}

.list {
  margin: 100px;
}

