<div id="container" class="active">
    <div id="card">

    </div>
    <div id="text1">IS VERY IMPORTANT<br>IN OUR LIFE</div>
    <div id="text2">MUSIC</div>
    <div id="text3">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</div>
</div>