<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h1 style="font-weight: 100">Create new event</h1>
        </div>

        <div class="col-md-6">

            <form action="/event/new" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" type="text" class="form-control" id="title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input name="description" type="text" class="form-control" id="description">
                </div>
                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <input name="capacity" type="number" class="form-control" id="capacity">
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input name="date" type="date" class="form-control" id="date">
                </div>
                <div class="form-group">
                    <label for="eventImage">Event image</label>
                    <input name="eventImage" type="text" class="form-control" id="eventImage">
                </div>
                <div class="form-group">
                    <label for="location">Localización</label>
                    <input name="location" type="text" class="form-control" id="location">
                </div>
                <button type="submit" class="btn btn-dark">Create event</button>
                <a href="/event" class="btn btn-dark">Go back</a>

            </form>
        </div>

    </div>
</div>

<script src="assets/js/jquery-2.1.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(window).on("load resize", function () {
            var alturaBuscador = $(".buscador").outerHeight(true),
                alturaVentana = $(window).height(),
                alturaMapa = alturaVentana - alturaBuscador;

            $("#mapa-geocoder").css("height", alturaMapa + "px");
        });
    });
</script>